In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/semeion/semeion.data",delim_whitespace=True, header=None,)

In [4]:
df.shape

(1593, 266)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
import numpy as np

In [7]:
df1 = df.iloc[:,:256]
df2 = df.iloc[:,256:]

In [8]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df2.head()

   256  257  258  259  260  261  262  263  264  265
0    1    0    0    0    0    0    0    0    0    0
1    1    0    0    0    0    0    0    0    0    0
2    1    0    0    0    0    0    0    0    0    0
3    1    0    0    0    0    0    0    0    0    0
4    1    0    0    0    0    0    0    0    0    0

In [10]:
g = df1.values   #convert pandas to numpy

In [11]:
g=g.reshape(1593,16,16,1)

In [12]:
h = df2.values

In [13]:
h.shape

(1593, 10)

In [74]:
import keras
from keras.models import Sequential
from keras.layers import Dropout
from keras.layers import MaxPooling2D
from keras.layers import Conv2D, Flatten, Dense, Dropout

In [110]:
batch_size = 100 #https://stats.stackexchange.com/questions/153531/what-is-batch-size-in-neural-network
num_classes = 10
epochs = 30
img_rows, img_cols = 16,16
input_shape = (img_rows, img_cols,1)  #define input shape to add the input layer

model = Sequential()
model.add(Conv2D(32, kernel_size=(8, 8),activation='relu',input_shape=input_shape, padding='SAME'))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(4, 4)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax')) 
model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer="Nadam",
              metrics=['accuracy'])

In [96]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_49 (Conv2D)           (None, 16, 16, 32)        1600
_________________________________________________________________
conv2d_50 (Conv2D)           (None, 14, 14, 64)        18496
_________________________________________________________________
max_pooling2d_25 (MaxPooling (None, 3, 3, 64)          0
_________________________________________________________________
dropout_49 (Dropout)         (None, 3, 3, 64)          0
_________________________________________________________________
flatten_25 (Flatten)         (None, 576)               0
_________________________________________________________________
dense_49 (Dense)             (None, 128)               73856
_________________________________________________________________
dropout_50 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_50 (Dense)             (None, 10)                1290
=================================================================
Total params: 95,242
Trainable params: 95,242
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(g, h, test_size=0.5, random_state=42)
#x_train,y_train = g,h

In [79]:
y_train

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [108]:
history=model.fit(X_train, y_train,
          batch_size=batch_size,
          epochs=epochs,
          verbose=1,
         validation_data=(X_test, y_test))

Train on 796 samples, validate on 797 samples
Epoch 1/30
796/796 [==============================] - 19s 23ms/step - loss: 2.2480 - acc: 0.1771 - val_loss: 2.0638 - val_acc: 0.4768
Epoch 2/30
796/796 [==============================] - 13s 16ms/step - loss: 1.9759 - acc: 0.2977 - val_loss: 1.4954 - val_acc: 0.5822
Epoch 3/30
796/796 [==============================] - 13s 17ms/step - loss: 1.6933 - acc: 0.4234 - val_loss: 1.0871 - val_acc: 0.6838
Epoch 4/30
796/796 [==============================] - 13s 16ms/step - loss: 1.2271 - acc: 0.5754 - val_loss: 1.1401 - val_acc: 0.6161
Epoch 5/30
796/796 [==============================] - 13s 16ms/step - loss: 1.0333 - acc: 0.6570 - val_loss: 0.9134 - val_acc: 0.6562
Epoch 6/30
796/796 [==============================] - 13s 16ms/step - loss: 0.7872 - acc: 0.7374 - val_loss: 0.4611 - val_acc: 0.8821
Epoch 7/30
796/796 [==============================] - 13s 17ms/step - loss: 0.7094 - acc: 0.7651 - val_loss: 0.7248 - val_acc: 0.7152
Epoch 8/30
796/796 [==============================] - 14s 17ms/step - loss: 0.5949 - acc: 0.8116 - val_loss: 0.3765 - val_acc: 0.8896
Epoch 9/30
796/796 [==============================] - 13s 16ms/step - loss: 0.4909 - acc: 0.8430 - val_loss: 0.3311 - val_acc: 0.9109
Epoch 10/30
796/796 [==============================] - 13s 17ms/step - loss: 0.3792 - acc: 0.8807 - val_loss: 0.2941 - val_acc: 0.9122
Epoch 11/30
796/796 [==============================] - 15s 18ms/step - loss: 0.3675 - acc: 0.8744 - val_loss: 0.2700 - val_acc: 0.9197
Epoch 12/30
796/796 [==============================] - 15s 19ms/step - loss: 0.3629 - acc: 0.8832 - val_loss: 0.2681 - val_acc: 0.9247
Epoch 13/30
796/796 [==============================] - 16s 20ms/step - loss: 0.2389 - acc: 0.9221 - val_loss: 0.2305 - val_acc: 0.9335
Epoch 14/30
796/796 [==============================] - 16s 20ms/step - loss: 0.2270 - acc: 0.9372 - val_loss: 0.2364 - val_acc: 0.9210
Epoch 15/30
796/796 [==============================] - 18s 23ms/step - loss: 0.2081 - acc: 0.9359 - val_loss: 0.2082 - val_acc: 0.9398
Epoch 16/30
796/796 [==============================] - 18s 23ms/step - loss: 0.1887 - acc: 0.9372 - val_loss: 0.2040 - val_acc: 0.9423
Epoch 17/30
796/796 [==============================] - 17s 21ms/step - loss: 0.1902 - acc: 0.9447 - val_loss: 0.2072 - val_acc: 0.9348
Epoch 18/30
796/796 [==============================] - 18s 22ms/step - loss: 0.1794 - acc: 0.9410 - val_loss: 0.2302 - val_acc: 0.9297
Epoch 19/30
796/796 [==============================] - 18s 22ms/step - loss: 0.1420 - acc: 0.9560 - val_loss: 0.2167 - val_acc: 0.9360
Epoch 20/30
796/796 [==============================] - 18s 23ms/step - loss: 0.1343 - acc: 0.9560 - val_loss: 0.1906 - val_acc: 0.9448
Epoch 21/30
796/796 [==============================] - 19s 24ms/step - loss: 0.1184 - acc: 0.9611 - val_loss: 0.1850 - val_acc: 0.9511
Epoch 22/30
796/796 [==============================] - 18s 22ms/step - loss: 0.0986 - acc: 0.9698 - val_loss: 0.2061 - val_acc: 0.9360
Epoch 23/30
796/796 [==============================] - 18s 23ms/step - loss: 0.0926 - acc: 0.9673 - val_loss: 0.1726 - val_acc: 0.9498
Epoch 24/30
796/796 [==============================] - 18s 23ms/step - loss: 0.1032 - acc: 0.9736 - val_loss: 0.1817 - val_acc: 0.9473
Epoch 25/30
796/796 [==============================] - 18s 22ms/step - loss: 0.0839 - acc: 0.9698 - val_loss: 0.1915 - val_acc: 0.9423
Epoch 26/30
796/796 [==============================] - 17s 21ms/step - loss: 0.0947 - acc: 0.9724 - val_loss: 0.1703 - val_acc: 0.9486
Epoch 27/30
796/796 [==============================] - 17s 21ms/step - loss: 0.0937 - acc: 0.9661 - val_loss: 0.1762 - val_acc: 0.9523
Epoch 28/30
796/796 [==============================] - 18s 23ms/step - loss: 0.0778 - acc: 0.9724 - val_loss: 0.1699 - val_acc: 0.9486
Epoch 29/30
796/796 [==============================] - 17s 21ms/step - loss: 0.0769 - acc: 0.9799 - val_loss: 0.1914 - val_acc: 0.9435
Epoch 30/30
796/796 [==============================] - 17s 21ms/step - loss: 0.0716 - acc: 0.9749 - val_loss: 0.1653 - val_acc: 0.9511

In [ ]:
import h5py
model.save('model1.h5')
del model  # deletes the existing model